<div class="body-Form">
  <form [formGroup]="myForm" action="" (ngSubmit)="send()">
    <div class="containerItems">
      <!-- CAMIOS 4/1/2023 A LAS 21: -->
      <div class="containerInfo">
        <label for="text"> Seleccione un Tipo de soporte:</label>
        <div class="container-Select">
          <select formControlName="idSoporte" (change)="selectSoporte($event)">
            <option [selected]="true" select disabled>Seleccione un Tipo de soporte</option>
            <option *ngFor="let op of this.srvSoporte.datosSoporte ,let i = index " id="{{op.int_soporte_id}}">
              {{op.str_soporte_nombre}}
            </option>
          </select>
        </div>
      </div>


      <div class="containerInfo">
        <label for="text"> Seleccione un Tipo de mantenimiento:</label>
        <div class="container-Select">
          <select formControlName="idTipoMantenimiento" (change)="selectTipo($event)">
            <option [selected]="true" select disabled>Seleccione un Tipo de mantenimiento</option>
            <option *ngFor="let op of this.srvNivel.datosTipoMantenimiento ,let i = index "
              id="{{op.int_tipo_mantenimiento_id}}">
              {{op.str_tipo_mantenimiento_descripcion}}
            </option>
          </select>

        </div>

      </div>





      <div class="cont-Center_Name">
        <div class="container-Name">

          <div class="centerName-Text">
            <label class="lbl-info" for="nombre">Descripcion del Nivel:</label>
          </div>
          <div class="centerNambe-Input">
            <input class="inp-info" type="text" id="descripcion" placeholder="Descripcion del Nivel"
              formControlName="descripcion">
          </div>
        </div>
      </div>
    </div>
    <div class="container-Btns">
      <button class="btn-primary-add" type="submit" [disabled]="!myForm.valid">Guardar</button>

    </div>
  </form>
</div>