<div class="back">
    <button class="btn-primary-add" (click)="regresar()"> Regresar</button>
</div>
<div style="display: grid; gap: 20px;">
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
        <form [formGroup]="formCentro" action="">
            <div class="containerItems">
                <div class="container-Find filtradoContainer">
                    <div class="containerInfo">
                        <label for="">Nombre del Centro</label>
                        <div class="container-Input">
                            <input class="" id="inp-Centro" type="text" autocomplete="off" [attr.disabled]="true"
                                placeholder="DIGITE NOMBRE CENTRO" formControlName="str_centro_nombre" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="formPlanificacion" action="">
            <div class="containerItems">
                <div class="container-Find filtradoContainer">
                    <div class="containerInfo">
                        <label for="">Cantidad de bienes</label>
                        <div class="container-Input">
                            <input class="" id="inp-Centro" type="number" autocomplete="off" [attr.disabled]="true"
                                placeholder="" formControlName="cantidadBienes" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="formNivel">
            <div class="containerItems">
                <div class="container-Find filtradoContainer">
                    <div class="containerInfo">
                        <label for="">Nivel</label>
                        <div class="container-Input">
                            <input class="" id="inp-Centro" type="text" autocomplete="off" [attr.disabled]="true"
                                placeholder="" formControlName="nivel_descripción" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <form [formGroup]="myForm">
        <div style="display: grid; gap: 20px;">
            <!-- <div>
                <div class="containerInfo">
                    <label>Nivel de Mantenimiento</label>
                    <div class="container-Select">
                        <select formControlName="int_preventivo_nivel_mantenimiento" (change)="getNivelName($event)">
                            <option [selected]="true" select disabled>Seleccione un nivel</option>
                            <option *ngFor="let op of srvNivelM.datosNivelMantenimiento; let index = index"
                                id="{{op.int_nivel_mantenimiento_id}}">{{op.str_nivel_mantenimiento_descripcion}}</option>
    
                        </select>
                    </div>
                </div>
            </div> -->

            <div class="containerRes">
                <!-- <mat-accordion> -->
                <!-- <mat-expansion-panel> -->
                <!-- <mat-expansion-panel-header> -->
                <!-- <mat-panel-title> -->
                <div style="padding-bottom: 10px;">
                    Agregar Observaciones
                </div>
                <!-- </mat-panel-title> -->
                <!-- </mat-expansion-panel-header> -->


                <div class="padre-check" style="display: grid; gap: 20px;">



                    <div>


                        <div>
                            <table class="table table-striped tabla-estilos">
                                <thead>
                                    <tr class="encabezado">
                                        <!-- <th class="th-head">
                                                    <div class="d-flex"> # </div>
                                                </th> -->
                                        <th class="th-head">
                                            <div class="d-flex">Codigo</div>
                                        </th>
                                        <th class="th-head">
                                            <div class="d-flex">Nombre</div>
                                        </th>
                                        <th class="th-head">
                                            <div class="d-flex">Observaciones</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let bien of arrNotificar ;let i = index; let c = index">
                                        <td id="dato-check">
                                            {{bien.cod}}
                                        </td>
                                        <td id="name-check">
                                            <div class="d-flex">{{bien.name}}</div>
                                        </td>
                                        <td>
                                            <div formArrayName="area">
                                                <textarea style="resize: none;" value="bien.desc"
                                                    (click)="selectArea(i)" (change)="observaciones(bien.id, $event, i)"
                                                    placeholder="Observaciones" name="" id="obser" cols="30" rows="10"
                                                    formControlName="{{i}}">
                                                </textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


                <!-- </mat-expansion-panel>
                </mat-accordion> -->
            </div>
        </div>
    </form>

    <div class="container-Btns" style="margin-bottom: 10px;">
        <button class="btn-primary-add" (click)="send()" [disabled]="!myForm.valid "> Finalizar</button>
    </div>
</div>