<div class="back">
  <button class="btn-primary-add" (click)="regresar()"> Regresar</button>
</div>


<div class="containerRes">
  <div class="container-Find filtradoContainer" *ngIf="!moTabla2">
    <div class="containerInfo">
      <label for="">Buscar Bienes</label>
      <div class="container-Input">
        <input class="" id="inp-Centro" type="text" autocomplete="off" (input)="changeBien($event)"
          placeholder="DIGITE NOMBRE DEL BIEN" required>
      </div>
    </div>
  </div>
  <div class="padre-check" style="height: 100%;">




    <div class="tabla-cuerpo" style="height: 90% !important;" *ngIf="moTabla">
      <table class="table table-striped tabla-estilos">
        <thead>
          <tr class="encabezado">

            <th class="th-head">
              <div class="d-flex">Codigo</div>
            </th>
            <th class="th-head">
              <div class="d-flex">Nombre</div>
            </th>
            <th class="th-head">
              <div class="d-flex">Descripcion</div>
            </th>
          </tr>
        </thead>
        <tbody>


          <tr *ngFor="let bien of srvPrestamos.datosSearch; let i = index; let c = index">

            <td class="select" id="dato-check" (click)="checkData(bien.int_bien_id)">
              {{bien.str_codigo_bien}}
            </td>
            <td class="select" id="name-check" (click)="checkData(bien.int_bien_id)">
              {{bien.str_bien_nombre}}
            </td>
            <td class="select" id="dato-check" (click)="checkData(bien.int_bien_id)">
              {{bien.str_bien_descripcion}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div style="display: grid; grid-template-columns: 1.5fr 1fr; gap: 20px;">
  <div>
    <div class="tableBo" *ngIf="moTabla2">
      <h3>Informacion del Bien</h3>
      <div>
        <table class="table table-striped tabla-estilos" *ngFor="let bienS of bienesSelect; let i = index">
          <div style="display: grid; grid-template-columns: 2fr 0.5fr;" >
            <div style="display: table; padding-bottom: 10px;" >
  
              <thead>
                <tr class="encabezado">
      
                  <th>
                    <div class="d-flex">Titulo</div>
                  </th>
      
                  <th>
                    <div class="d-flex">Descripcion</div>
                  </th>
                </tr>
      
              </thead>
              <tbody>
      
                <tr class="container-Row">
                  <td>Nombre del Bien</td>
                  <td> {{this.bienS.str_catalogo_bien_descripcion
                    }}</td>
                </tr>
      
                <tr class="container-Row">
                  <td>Modelo del Bien</td>
                  <td> {{this.bienS.str_bien_modelo}}</td>
                </tr>
      
                <tr class="container-Row">
                  <td>Condicion del Bien</td>
                  <td> {{this.bienS.str_condicion_bien_nombre}}</td>
                </tr>
                <tr class="container-Row">
                  <td>Disponibilidad del Bien</td>
                  <td> {{this.bienS.str_bien_habilitado}}</td>
                </tr>
                <tr class="container-Row">
                  <td>Estado del Bien</td>
                  <td> {{this.bienS.str_bien_estado}}</td>
                </tr>
      
                <tr class="container-Row">
                  <td>Descripcion de Condicion</td>
                  <td> {{this.bienS.str_condicion_bien_nombre}}</td>
                </tr>
                <tr class="container-Row">
                  <td>Estado del Bien</td>
                  <td> {{this.bienS.str_bien_estado_logico}}</td>
                </tr>
                <tr class="container-Row">
                  <td>Ubicacion</td>
                  <td> {{this.bienS.str_ubicacion_nombre}}</td>
                </tr>
              </tbody>
            </div>
            
            <div *ngIf="bienesSelect.length>1" style="display: flex; align-items: center; justify-content: center;" >
              <button class="btn-primary-add" (click)="quitarBien(i)"> X</button>
            </div>
          </div>
        </table>
      </div>
    </div>


    <div *ngIf="moTabla2" class="containerInfo ">
      <label for="">Objetivo de la investigacion</label>
      <br>
      <textarea type="text" placeholder="OBJETIVO DE LA INVESTIGACION" rows="7" cols="5000"></textarea>
    </div>


    <div *ngIf="moTabla2" >
      
      <table >
        <thead >
          <tr>
            
            <th  *ngFor="let global of srvHorario.horarioPrestamo"  >
              {{global.dia}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr >
            
            <td *ngFor="let global of srvHorario.horarioPrestamo">
              <div *ngFor="let i of global.intervalos"  >
                <input type="checkbox" name="" id="{{i.id}}">
                {{i.inicio}} - {{i.fin}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>





  </div>
































  <div>
    <div class="tableBo" *ngIf="moTabla2">
      <div style="padding-bottom: 10px;">
        <h3>Bienes a cargo de:</h3>
        <h4>{{srvInventario.dataBienInfo.str_custodio_nombre}}</h4>
        <h3>Centro</h3>
        <h4>{{ubicacion}}</h4>
      </div>
      <table class="table table-striped tabla-estilos">
        <thead>
          <tr class="encabezado">

            <th class="th-head">
              <div class="d-flex">Codigo</div>
            </th>
            <th class="th-head">
              <div class="d-flex">Nombre</div>
            </th>
            <!-- <th class="th-head">
              <div class="d-flex">Descripcion</div>
            </th> -->
          </tr>
        </thead>
        <tbody>


          <tr *ngFor="let bien of this.bienesCustodio ; let i = index; let c = index">

            <td *ngIf="bien.str_ubicacion_nombre == ubicacion" class="select" id="dato-check"
              (click)="Agregar(bien.int_bien_id)">
              {{bien.str_codigo_bien}}
            </td>
            <td *ngIf="bien.str_ubicacion_nombre == ubicacion" class="select" id="name-check"
              (click)="Agregar(bien.int_bien_id)">
              {{bien.str_bien_nombre}}
            </td>
            <!-- <td class="select" id="dato-check" (click)="checkData(bien.int_bien_id)">
              {{bien.str_bien_descripcion}}
            </td> -->
            <!-- <button class="btn-primary-add" (click)="Agregar()">+</button> -->
            <!-- <div class="back">
            </div> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>