<div class="body-Form">
    <form [formGroup]="myForm" action="" (ngSubmit)="send()">
        <div class="containerItems">
            <!-- <div class="cont-Center_Name">
                <div class="container-Name">

                    <div class="centerName-Text">
                        <label class="lbl-info" for="nombre">Descripcion del Registro:</label>
                    </div>
                    <div class="centerNambe-Input">
                        <input class="inp-info" type="text" id="nombre" placeholder="Descripcion del Registro"
                            formControlName="descripcion" required="">
                    </div>
                </div>
            </div> -->
            <div class="containerInfo">
                <label for="text"> Seleccione un Soporte:</label>
                <div class="container-Select">
                    <select formControlName="int_soporte_id">
                        <option [selected]="true" placeholder="Seleccione un Soporte" select disabled>Seleccione un
                            Soporte</option>
                        <option *ngFor="let op of this.srvRegistro.datosSoporte, let i = index "
                            [value]="op.int_soporte_id">
                            {{op.str_soporte_descripcion}}
                        </option>
                    </select>
                </div>

            </div>

        </div>
        <div class="container-Btns">
            <button class="btn-primary-add" type="submit" [disabled]="!myForm.valid">Guardar</button>

        </div>
    </form>
</div>