<div class="modal fade mGeneral" id="modalGeneral" #modalGeneral>

  <div class="modal-dialog modal-lg" *ngIf="triggerModal">

    <div class="modal-content" *ngIf=" formType !='mostrar-pdf' && formType != 'planificacion' && formType != 'preventivo'">

      <div class="modal-header">
        <h5 class="modal-title fs-5" id="titleModal">{{titleModal}}</h5>

        <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modalClose"
          (click)="closeModalX()">X</button>

      </div>

      <div class="modal-body">
        <div [ngSwitch]="formType">
          <div *ngSwitchCase="'nuevoReporte'">
            <app-agregar-reporte></app-agregar-reporte>
          </div>
          <div *ngSwitchCase="'editarTipoR'">
            <app-modificar-tipo></app-modificar-tipo>
          </div>
          <div *ngSwitchCase="'nuevoTipo'">
            <app-agregar-tipo></app-agregar-tipo>
          </div>
          <div *ngSwitchCase="'nuevoInforme'">
            <app-agregar-informe></app-agregar-informe>
          </div>
          <div *ngSwitchCase="'nuevoRol'">
            <app-agregar-rol></app-agregar-rol>
          </div>
          <div *ngSwitchCase="'editarRol'">
            <app-modificar-rol></app-modificar-rol>
          </div>
          <div *ngSwitchCase="'nuevoUsuario'">
            <app-agregar-usuario></app-agregar-usuario>
          </div>
          <div *ngSwitchCase="'editarUsuario'">
            <app-modificar-usuario></app-modificar-usuario>
          </div>
          <div *ngSwitchCase="'nuevoCentro'">
            <app-agregar-centros></app-agregar-centros>
          </div>
          <div *ngSwitchCase="'detallesCentro'">
            <app-detalles-centros></app-detalles-centros>
          </div>
          <div *ngSwitchCase="'rolPerfil'">
            <app-agregar-perfil></app-agregar-perfil>
          </div>
          <div *ngSwitchCase=" 'editarPerfil'">
            <app-modificar-perfil></app-modificar-perfil>
          </div>
          <div *ngSwitchCase="'editarCentros'">
            <app-editar-centros></app-editar-centros>
          </div>

          <div *ngSwitchCase="'importarUsuario'">
            <app-importar-usuarios></app-importar-usuarios>
          </div>
          <div *ngSwitchCase="'editarPermisos'">
            <app-editar-permisos></app-editar-permisos>
          </div>
          <div *ngSwitchCase="'nuevoMenu'">
            <app-agregar-menu></app-agregar-menu>
          </div>
          <div *ngSwitchCase="'editarMenu'">
            <app-modificar-menu></app-modificar-menu>
          </div>
          <div *ngSwitchCase="'insertarSoporte'">
            <app-agregar-soporte></app-agregar-soporte>
          </div>
          <div *ngSwitchCase="'insertarTipoMantenimiento'">
            <app-agregar-tipoM></app-agregar-tipoM>
          </div>
          <div *ngSwitchCase="'insertarNivel'">
            <app-agregar-nivel></app-agregar-nivel>
          </div>
          <div *ngSwitchCase="'insertarEstadoMantenimiento'">
            <app-agregar-estado-m></app-agregar-estado-m>
          </div>
          <div *ngSwitchCase="'insertarRegistro'">
            <app-agregar-registro></app-agregar-registro>
          </div>
          <!-- <div *ngSwitchCase="'insertarPlanificacion'" >
            <app-agregar-planificacion></app-agregar-planificacion>
          </div> -->
          <!-- <div *ngSwitchCase="'nuevoCustodio'">

                    </div> -->

          <!-- APARTADO DE BIENES -->
          <div *ngSwitchCase="'infoBien'">
            <app-mostrar-info-bien></app-mostrar-info-bien>
          </div>
          <div *ngSwitchCase="'custodioBien'">
            <app-custodio-bien-info></app-custodio-bien-info>
          </div>
          <div *ngSwitchCase="'addInfoBien'">
            <app-modificar-bien></app-modificar-bien>
          </div>
          <div *ngSwitchCase="'bienInterno'">
            <app-modificar-bien-interno></app-modificar-bien-interno>
          </div>
          <div *ngSwitchCase="'historialBien'">
            <app-historial-bien></app-historial-bien>
          </div>

          <!-- APARTADO DE CARACTERISTICAS DE BIENES -->
          <div *ngSwitchCase="'ingresarEstado'">
            <app-agregar-estados></app-agregar-estados>
          </div>
          <div *ngSwitchCase="'editarEstado'">
            <app-modificar-estados></app-modificar-estados>
          </div>

          <div *ngSwitchCase="'ingresarProveedor'">
            <app-agregar-proveedor></app-agregar-proveedor>
          </div>
          <div *ngSwitchCase="'editarProveedor'">
            <app-modificar-proveedor></app-modificar-proveedor>
          </div>

          <div *ngSwitchCase="'ingresarMarcas'">
            <app-agregar-marca></app-agregar-marca>
          </div>
          <div *ngSwitchCase="'editarMarca'">
            <app-modificar-marca></app-modificar-marca>
          </div>

          <div *ngSwitchCase="'ingresarCatalogo'">
            <app-agregar-catalogo></app-agregar-catalogo>
          </div>
          <div *ngSwitchCase="'editarCatalogo'">
            <app-modificar-catalogo></app-modificar-catalogo>
          </div>
          <div *ngSwitchCase="'importarCatalogo'">
            <app-importar-catalogo></app-importar-catalogo>
          </div>

          <div *ngSwitchCase="'mostrarProceso'">
            <app-mostrar-proceso></app-mostrar-proceso>
          </div>
          <div *ngSwitchCase="'editarTipoSoporte'">
            <app-editar-soporte></app-editar-soporte>
          </div>
          <div *ngSwitchCase="'editarTipoMantenimiento'">
            <app-editar-tipo-soporte></app-editar-tipo-soporte>
          </div>
          <div *ngSwitchCase="'editarNivelMantenimiento'">
            <app-editar-nivel></app-editar-nivel>
          </div>
          <div *ngSwitchCase="'editarEstadoMantenimiento'">
            <app-editar-estado-m></app-editar-estado-m>
          </div>
          <div *ngSwitchCase="'editarPlanificacion'">
            <app-editar-planificacion></app-editar-planificacion>
          </div>
          <div *ngSwitchCase="'traspasoTecnico'">
            <app-traspaso-tecnico></app-traspaso-tecnico>
          </div>
          <div *ngSwitchCase="'infoBienesCustodio'">
            <app-mostrar-bienes-custodio></app-mostrar-bienes-custodio>
          </div>
          <div *ngSwitchCase="'mostrarPlanificacionDetalles'">
            <app-detalles-planificacion></app-detalles-planificacion>
          </div>

          <div *ngSwitchCase="'infoCargaArchivos'">
            <app-detalle-carga></app-detalle-carga>
          </div>
          <!-- <div *ngSwitchCase="'editarMantenimientoPreventivo'" >
            <app-editar-mantenimiento-preventivo></app-editar-mantenimiento-preventivo>
          </div> -->

          <div *ngSwitchCase="'prueba'">
            <p>funciona</p>
          </div>
          <div *ngSwitchCase="'clear'"></div>
          <!-- <div *ngSwitchCase="'informacion'"></div> -->


          <!-- horario -->
          <div *ngSwitchCase="'horarioCentro'">
            <app-add-horario></app-add-horario>
          </div>

          <div *ngSwitchCase="'agregarEstadosPrestamo'" >
            <app-agregar-estados-p></app-agregar-estados-p>
          </div>

          <div *ngSwitchCase="'modificarEstadosPrestamo'" >
            <app-modificar-estados-p></app-modificar-estados-p>
          </div>

        </div>

      </div>


      <div class="modal-footer">

        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="closeModalX()">Cancelar</button>

      </div>

    </div>
    <!-- ////////////////////////////////////////// -->
    <div *ngIf=" formType =='mostrar-pdf' ">
      <div class="modal-content2" *ngIf=" formType =='mostrar-pdf' && titleModal!='Agregar Planificacion'  ">

        <div class="modal-header">
          <h5 class="modal-title fs-5" id="titleModal">{{titleModal}}</h5>

          <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modalClose"
            (click)="closeModalX()">X</button>

        </div>

        <div class="modal-body2">
          <div [ngSwitch]="titleModal">
            <div *ngSwitchCase="'Informe'">
              <!-- <app-agregar-reporte></app-agregar-reporte> -->
              <app-pintar-pdf></app-pintar-pdf>
            </div>
            <div *ngSwitch="'Reporte'">
              <!-- <app-reporte-individual></app-reporte-individual> -->
            </div>
            <!-- <div *ngSwitchCase="'Agregar Planificacion'">
              <app-agregar-planificacion></app-agregar-planificacion>
            </div> -->
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="closeModalX()">Cancelar</button>

        </div>
      </div>

    </div>
    <!-- //////////////////////////////////////////// -->

    <div *ngIf=" formType =='planificacion'">

      <div class="modal-content2" style="margin-top: 0px;" *ngIf=" formType =='planificacion'">

        <div class="modal-header">
          <h5 class="modal-title fs-5" id="titleModal">{{titleModal}}</h5>

          <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modalClose"
            (click)="closeModalX()">X</button>

        </div>

        <div class="modal-body2">
          <div [ngSwitch]="titleModal">
            <!-- <div *ngSwitchCase="'Informe'">
                <app-pintar-pdf></app-pintar-pdf>
              </div>
              <div *ngSwitch="'Reporte'">
                <app-reporte-individual></app-reporte-individual>
              </div> -->
            <div *ngSwitchCase="'Agregar Planificacion'">
              <app-agregar-planificacion></app-agregar-planificacion>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="closeModalX()">Cancelar</button>

        </div>
      </div>

    </div>

     <!-- //////////////////////////////////////////// -->
<!--
     <div *ngIf=" formType =='preventivo'">

      <div class="modal-content2" style="margin-top: 0px;" *ngIf=" formType =='preventivo'">

        <div class="modal-header">
          <h5 class="modal-title fs-5" id="titleModal">{{titleModal}}</h5>

          <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modalClose"
            (click)="closeModalX()">X</button>

        </div>

        <div class="modal-body2">
          <div [ngSwitch]="titleModal">

            <div *ngSwitchCase="'Editar Mantenimiento Preventivo'">
              <app-editar-mantenimiento-preventivo></app-editar-mantenimiento-preventivo>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" (click)="closeModalX()">Cancelar</button>

        </div>
      </div>

    </div> -->
    <!-- </div> -->

    <div class="modal-contentResponsive" *ngIf="!triggerModal">
      <div class="buttonClose">
        <button #closeModal type="button" class="btn-closeResponsive" data-bs-dismiss="modal" aria-label="Close"
          id="modalClose" (click)="closeModalX()">
          <i class="material-icons">arrow_drop_down</i>
        </button>
      </div>
      <div class="componentContainer">
        <app-desplegable></app-desplegable>
      </div>
    </div>

  </div>
