<div class="body-Denied">

  <div class="main-Denied">
  <div class="containerMessage">
    <h1>Oops!</h1>
    <h4>Lo sentimos, no pudimos encontrar la pagina que estas buscando.</h4>
    <p>Codigo de Error: 404</p>
    <a class="a-noResponsive" routerLink="/">
      <i class="material-icons">exit_to_app</i>
      Regresar a Inicio
    </a>
  </div>

  <div class="containerImage">
    <img class="logo-espoch" src="../../../assets/img/logo-espoch.svg" alt="logo-espoch">
    <img class="logo-historia" src="../../../assets/img/logo-hacemos-historia-1.png" alt="logo-Historia">
    <a class="a-responsive" routerLink="/">
      <i class="material-icons">exit_to_app</i>
      Regresar a Inicio
    </a>
  </div>

  </div>

  <div class="footer-Denied">
    <app-footer></app-footer>
  </div>

</div>
