<div class="body-Form">
  <!-- Nombres de los procesos y sus iconos -->
  <div>

    <div class="container-BodyData">

      <div class="container-Process">
        <label for="">Inserción</label>
        <i class="material-icons process">error_outline</i>
      </div>

        <i class="material-icons chevron">chevron_right</i>

      <div class="container-Process">
        <label for="">Transformación</label>
        <i class="material-icons process">error_outline</i>
      </div>

        <i class="material-icons chevron">chevron_right</i>

      <div class="container-Process">
        <label for="">Finalización</label>
        <i class="material-icons process">error_outline</i>
      </div>

    </div>

  </div>

  <!-- Mensaje y Barra del Proceso| -->
  <div class="container-LoadBar">
    <label>
      En proceso...
      <br>
      Esto podria tardar unos minutos.
    </label>

    <div class="loader">
      <div class="loader-bar"></div>
    </div>

  </div>

  <!-- Apartado de Botones Seguir y Cancelar -->
  <div class="container-Actions center">

    <button class="btn-primary-add">
      Siguiente
    </button>

    <button class="btn-primary-add">
      Cancelar
    </button>

  </div>

</div>
