<div class="body">
  <div class="containerBody">

    <div class="titleConfiguration">
      <div class="title">
        <h1>Pantalla de
          <span style="color:#B41A12 ;">
            Bienes del custodio
          </span>
        </h1>
        <span style="color:rgb(160, 160, 160);
                    font-family: 'Roboto', Arial, sans-serif;
                    font-size: 14px;">
          Listado de Bienes
        </span>
      </div>
    </div>

    <!-- Llama al componente mostrar bienes -->
    <app-mostrar-bienes></app-mostrar-bienes>


      
      <!-- <div class="pagi">
        <app-pagination (nextPage)="pasarPagina($event)"></app-pagination>
      </div> -->

    </div>

  </div>