
<div class="body-Form" style="display: grid; gap: 5%;">
    <form [formGroup]="myForm" action="formCenterAdd">
        <div class="containerItems">


            <div class="cont-Center_Name" style="display: grid; gap: 20px;">
                <div class="container-Name" style="display: flex; gap: 10px; align-items: baseline;">
                        <div class="search-Label">
                            <label for="nombre">Elegir parametros para el reporte:</label>
                        </div>
    
    
                        <div class="containerInfo" style="width: 25%;"> 
                            <div class="container-Select">
                                <select (change)="onCheckboxChange($event)">
                                    <option [selected]="true" select disabled>Seleccione una opcion</option>
                                    <option value="1">Correctivo por fechas</option>
                                    <option value="2">Correctivo por codigo de bien</option>
                                    <option value="3">Correctivo por técnico</option>
                                    <option value="4">Preventivo por planificación</option>
                                </select>
                            </div>
                        </div>
    
    
    
                        
    
                        <div class="containerInfo" *ngIf="histo" style="display: flex; align-items: baseline;">
                            <div style="width: 45%;">
                                <app-filter [options]="options3" (search)="handleSearch($event)" ></app-filter>
                            </div>
                            <!-- <div *ngIf="_histo" class="container-Select" style="width: 45%;" >
                                <select (change)="getIdHistorial($event)"  >
                                    <option [selected]="true" select disabled  >Seleccione un Bien</option>
                                    <option *ngFor="let op of dataHistorial" id="{{op.str_codigo_bien}}" >{{op.str_bien_nombre}} - {{op.str_codigo_bien}}</option>
                                </select>
                            </div> -->
                        </div>
                        <div class="containerInfo" *ngIf="marc" style="display: flex; align-items: baseline;">
                            <div style="width: 45%;">
                                <app-filter [options]="options1" (search)="handleSearch($event)" ></app-filter>
                            </div>
                            <div *ngIf="_marc" class="container-Select" style="width: 45%;" >
                                <select (change)="getPlanificacion($event)"  >
                                    <option [selected]="true" select disabled  >Seleccione una planificación</option>
                                    <option *ngFor="let op of srvRegistroP.datosPlanificacion" id="{{op.int_planificacion_id}}" >{{op.str_planificacion_codigo}}</option>
                                </select>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div class="containerInfo" *ngIf="ubic" style="display: flex; align-items: baseline; gap: 20px;">
                            <div style="display: grid; width: 50%;">
                                <div style="width: 45%; display: contents;">
                                    <app-filter [options]="options2" (search)="handleSearch($event)" ></app-filter>
                                </div>
                                <div *ngIf="_ubic" class="container-Select">
                                    <select (change)="getTecnico($event)"  >
                                        <option [selected]="true" select disabled  >Seleccione un Usuario</option>
                                        <option *ngFor="let op of dataUsuarios, let i = index" id="{{i}}" >{{op.str_per_nombres}} {{op.str_per_apellidos}}</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="auxiliar">
                                <div class="check-box-template date">
                                    <div>
                                        <label for="date">Fecha Inicio</label>
                                    </div>
        
                                    <div>
                                        <input class="inp-info" type="date" id="dateI" max={{fechaUsar2}}
                                            (change)="getFechaG($event)">
                                    </div>
        
        
                                </div>
                                <div class="check-box-template date">
                                    <div>
                                        <label for="date">Fecha Fin</label>
                                    </div>
        
                                    <div>
                                        <input class="inp-info" type="date" id="dateF" max={{fechaUsar2}}
                                            (change)="getFechaG($event)">
                                    </div>
        
        
                                </div>
                            </div>
                        </div>
                        <div *ngIf="auxG" style="display: flex; gap: 10px;">
                            <div class="check-box-template date">
                                <div>
                                    <label for="date">Fecha Inicio</label>
                                </div>
    
                                <div>
                                    <input class="inp-info" type="date" id="dateI" max={{fechaUsar2}}
                                        (change)="getFechaG($event)">
                                </div>
    
    
                            </div>
                            <div class="check-box-template date">
                                <div>
                                    <label for="date">Fecha Fin</label>
                                </div>
    
                                <div>
                                    <input class="inp-info" type="date" id="dateF" max={{fechaUsar2}}
                                        (change)="getFechaG($event)">
                                </div>
    
    
                            </div>
    
                        </div>
                        
                    
                    
                    
                </div>
                <div style="display: grid; justify-items: center;">
                    <div *ngIf="garant">
                        <button class="btn-primary-add" type="submit" (click)="funcionGarantia()"
                            style="margin-top: 0px;">Crear</button>
                    </div>
                </div>
            </div>





        </div>
        <!-- <button class="btn-primary-add" type="submit" 
            [disabled]="!myForm.valid">Guardar</button> -->

    </form>

    <div id="ver-pdf-solicitud" style="width: 100%; height: 600px"></div>
</div>
