<div class="back">
    <button class="btn-primary-add" (click)="regresar()"> Regresar</button>
</div>

<div style="display: grid; gap: 20px;">


    <form [formGroup]="myForm">
        <div style="display: grid; gap: 35px;">

            <div class="containerRes">
                <div class="container-Find filtradoContainer">
                    <div class="containerInfo">
                        <label for="">Buscar Bienes</label>
                        <div class="container-Input">
                            <input class="" id="inp-Centro" type="text" autocomplete="off" (input)="changeBien($event)"
                                placeholder="DIGITE NOMBRE DEL BIEN" required>
                        </div>
                    </div>
                </div>
                <div class="padre-check" style="height: 5%;">




                    <div class="tabla-cuerpo" *ngIf="moTabla">
                        <table class="table table-striped tabla-estilos">
                            <thead>
                                <tr class="encabezado">
                                    
                                    <th class="th-head">
                                        <div class="d-flex">Nombre</div>
                                    </th>
                                    <th class="th-head">
                                        <div class="d-flex">Codigo</div>
                                    </th>
                                    <th class="th-head">
                                        <div class="d-flex">Garantia</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr *ngFor="let bien of srvMantenimiento.datosSearch; let i = index; let c = index">

                                    <td class="select" id="name-check" (click)="checkData(bien.int_bien_id)">
                                        {{bien.str_bien_nombre}}
                                    </td>
                                    <td class="select" id="dato-check" (click)="checkData(bien.int_bien_id)">
                                        {{bien.str_codigo_bien}}
                                    </td>
                                    <td class="select" id="dato-check" (click)="checkData(bien.int_bien_id)">
                                        {{bien.str_bien_garantia}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="tableBo" *ngIf="moTabla2">
                <h3>Informacion del Sbay del Bien</h3>
                <table class="table table-striped tabla-estilos">
                    <thead>
                        <tr class="encabezado">

                            <th>
                                <div class="d-flex">Titulo</div>
                            </th>

                            <th>
                                <div class="d-flex">Descripcion</div>
                            </th>


                    </thead>

                    <tbody>

                        <tr class="container-Row">
                            <td>Nombre del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.str_catalogo_bien_descripcion
                                }}</td>
                        </tr>

                        <tr class="container-Row">
                            <td>Modelo del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.str_bien_modelo}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Marca del Bien</td>
                            <td> {{this.srvCaracteristicas.dataMarca.str_marca_nombre}}</td>
                        </tr>

                        <tr class="container-Row">
                            <td>Condicion del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.str_condicion_bien_nombre}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Disponibilidad del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.str_bien_habilitado}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Estado del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.str_bien_estado}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Ubicacion del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.str_ubicacion_nombre}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Origen de Ingreso</td>
                            <td> {{this.srvInventario.dataBienInfo.str_bien_origen_ingreso}}</td>
                        </tr>

                        <tr class="container-Row">
                            <td>Estado del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.str_bien_estado_logico}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Fecha Compra del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.dt_bien_fecha_compra}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Fecha de registro del Bien</td>
                            <td> {{this.srvInventario.dataBienInfo.dt_bien_fecha_compra}}</td>
                        </tr>
                        <tr class="container-Row">
                            <td>Descripcion de Condicion</td>
                            <td> {{this.srvInventario.dataBienInfo.str_condicion_bien_nombre}}</td>
                        </tr>
                        <tr>
                            <td>Garantia</td>
                            <td>{{this.srvInventario.dataBienInfo.str_bien_garantia}}</td>
                        </tr>
                        <tr>
                            <td>Años de Garantia</td>
                            <td>{{this.srvInventario.dataBienInfo.int_bien_anios_garantia}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="moTabla2"  >
                <div>
                    <h3>Informacion sobre el Custodio</h3>
                    <table class="table table-striped tabla-estilos">
                        <thead>
                            <tr class="encabezado">
    
                                <th>
                                    <div class="d-flex">Titulo</div>
                                </th>
    
                                <th>
                                    <div class="d-flex">Descripcion</div>
                                </th>
                                
                        </thead>
                        <tbody>
                            <tr class="container-Row">
                                <td>Cedula</td>
                                <td> {{this.srvInventario.dataBienInfo.str_custodio_cedula}}</td>
                            </tr>
                            <tr class="container-Row">
                                <td>Nombre</td>
                                <td> {{this.srvInventario.dataBienInfo.str_custodio_nombre}}</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>
                                    <div class="container-Input" style="margin-top: 0px !important; height: 100% !important;">
                                        <input class="inp-info" type="text" id="nombre" placeholder="Ingrese el teléfono del custodio"
                                            formControlName="str_mantenimiento_correctivo_telefono" required="">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="cont-Center_Name" style="margin-top: 20px;">
                    <div class="container-Name">

                        <div class="centerName-Text">
                            <label class="lbl-info" for="nombre">Telefono del custodio</label>
                        </div>
                        <div class="container-Input">
                            <input class="inp-info" type="text" id="nombre" placeholder="Telefono del custodio"
                                formControlName="str_mantenimiento_correctivo_telefono" required="">
                        </div>
                    </div>
                </div> -->
            </div>

            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 30px;" >
                <div class="containerInfo" *ngIf="moTabla2">
                    <h3>Nivel de Mantenimiento</h3>
                    <div class="container-Select">
                        <select formControlName="int_nivel_mantenimiento_id" (change)="getNivelName($event)">
                            <!-- <option [selected]="true" select disabled>Seleccione un nivel</option> -->
                            <option *ngFor="let op of srvNivelM.datosNivelMantenimiento; let index = index"
                                id="{{op.int_nivel_mantenimiento_id}}">{{op.str_nivel_mantenimiento_descripcion}}</option>
    
                        </select>
                    </div>
                </div>
    
                <div class="containerInfo" *ngIf="moTabla2">
                    <h3>Estado de Mantenimiento</h3>
                    <div class="container-Select">
                        <select formControlName="int_estado_mantenimiento_id" (change)="getEstadoName($event)">
                            <!-- <option [selected]="true" select disabled>Seleccione un estado</option> -->
                            <option *ngFor="let op of srvNivelM.datosEstadoMantenimiento; let index = index"
                                id="{{op.int_estado_mantenimiento_id}}">{{op.str_estado_mantenimiento_descripcion}}</option>
    
                        </select>
                    </div>
                </div>
            </div>

            <div style="display: grid; gap: 20px;" >
                <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 30px;" >
                    <div *ngIf="moTabla2">
                        <h3>Descripcion del problema</h3>
                        <div class="containerInfo ">
                            <!-- <label for="">Introcucción de informe</label> -->
                            <br>
                            <textarea type="text" placeholder="DESCRIPCION DEL PROBLEMA" rows="7" cols="5000"
                                formControlName="str_mantenimiento_correctivo_motivo">
        
                      </textarea>
                        </div>
                    </div>
        
                    <div *ngIf="moTabla2">
                        <h3>Descripcion del diagnostico</h3>
                        <div class="containerInfo ">
                            <!-- <label for="">Introcucción de informe</label> -->
                            <br>
                            <textarea type="text" placeholder="DESCRIPCION DEL PROBLEMA" rows="7" cols="5000"
                                formControlName="int_mantenimiento_diagnostico">
        
                      </textarea>
                        </div>
                    </div>
                </div>
    
                <div *ngIf="moTabla2">
                    <h3>Descripcion de la Solucion</h3>
                    <div class="containerInfo ">
                        <!-- <label for="">Introcucción de informe</label> -->
                        <br>
                        <textarea type="text" placeholder="DESCRIPCION DE LA SOLUCION" rows="7" cols="5000"
                            formControlName="str_mantenimiento_correctivo_descripcion_solucion">
    
                  </textarea>
                    </div>
                </div>
            </div>

            <div style="display: grid; grid-template-columns: 1fr 1fr ; gap: 35px;">
                <div *ngIf="moTabla2">
                    <h3>Fecha de Ingreso</h3>
                    <div class="containerInfo ">
                        <input type="date" formControlName="dt_mantenimiento_correctivo_fecha_revision">
                    </div>
                </div>
                <div *ngIf="moTabla2">
                    <h3>Fecha de entrega</h3>
                    <div class="containerInfo ">
                        <input type="date" formControlName="dt_mantenimiento_correctivo_fecha_entrega">
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="buttons-action" *ngIf="moTabla2">
        <div class="container-Btns">
            <button class="btn-primary-add" (click)="send()" [disabled]="!myForm.valid "> Finalizar</button>
        </div>
    </div>
</div>