<!-- <p>detalles-centros works!</p> -->
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="detalleP">
                    <div class="title">
                        NOMBRE DEL CENTRO
                    </div>
                    <div class="detalle">
                        {{detalles.str_centro_nombre}}
                    </div>
                </div>
                <div class="tableP" *ngIf="detalles.str_centro_tipo_nombre == 'ACADÉMICO'">
                    <div class="detalleP">
                        <div class="title">
                            TIPO
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_tipo_nombre}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            SEDE
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_nombre_sede}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            NOMBRE DE LA FACULTAD
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_nombre_facultad}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            CÓDIGO DE LA FACULTAD
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_cod_facultad}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            NOMBRE DE LA CARRERA
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_nombre_carrera}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            CÓDIGO DE LA CARRERA
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_cod_carrera}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            ESTADO
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_estado}}
                        </div>
                    </div>

                </div>
                <div class="tableP" *ngIf="detalles.str_centro_tipo_nombre == 'ADMINISTRATIVO'">

                    <div class="detalleP">
                        <div class="title">
                            TIPO
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_tipo_nombre}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            SEDE
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_nombre_sede}}
                        </div>
                    </div>
                    <div class="detalleP">
                        <div class="title">
                            NOMBRE DE LA DEPENDENCIA
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_nombre_dependencia}}
                        </div>
                    </div>
                    <!-- <div class="detalleP">
                        <div class="title">
                            Codigo de la facultad
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_cod_facultad}}
                        </div>
                    </div> -->
                    <div class="detalleP">
                        <div class="title">
                            NOMBRE DE LA UBICACIÓN
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_nombre_proceso}}
                        </div>
                    </div>
                    <!-- <div class="detalleP">
                        <div class="title">
                            Codigo de la carrera
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_cod_carrera}}
                        </div>
                    </div> -->
                    <div class="detalleP">
                        <div class="title">
                            Estado
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_estado}}
                        </div>
                    </div>
                </div>
            </td>

        </tr>
    </tbody>
</table>

    <!-- <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="detalleP">
                        <div class="title">
                            NOMBRE DEL CENTRO
                        </div>
                        <div class="detalle">
                            {{detalles.str_centro_nombre}}
                        </div>
                    </div>

                </td>

            </tr>
        </tbody>
    </table> -->
<!-- </div> -->