<div class="body-Form">

  <form [formGroup]="myForm" action="">

    <div class="container-DataInfo">

      <div class="container-Left">
        <div class="containerInfo">
          <label>Nombre de Estado</label>
          <div class="container-Input">
            <input type="text" placeholder="Nombre del Estado" formControlName="str_estado_bien_nombre" name="nombre" required>
          </div>
        </div>
      </div>

      <div class="container-Right">
        <div class="containerInfo">
          <label>Estado</label>
          <div class="container-Input">
            <input type="text" placeholder="str_estado_bien_estado" name="estado" formControlName="str_estado_bien_estado"
              [attr.disabled]="true">
          </div>
        </div>
      </div>
    </div>

    <div class="container-Btns">
      <button
        class="btn-primary-add"
        type="submit"
        [disabled]="!myForm.valid"
        (click)="modifyEstado()"
        >
        Guardar
      </button>
    </div>
  </form>

</div>


