
 <div class="back">
  <button class="btn-primary-add" (click)="regresar()"> Regresar</button>
</div>

<div style="display: grid; gap: 30px;">

  <form [formGroup]="myForm">
    <div class="container-BodyData">
      <div class="container-Left">

        <div class="containerInfo">
          <div class="search-Label" >
            <label for="">Tipo de Informe</label>
          </div>
          <div class="container-Select">
            <select formControlName="int_tipo_documento_id" (change)="getF($event)">
              <!-- <option [selected]="true" select disabled>Seleccione un tipo de informe</option> -->
              <option *ngFor="let op of tipoInforme.tipo ; let index = index" id="{{tipoInforme.cod[index]}}">{{op}}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </form>


  <div class="containerRes">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Agregar Bienes
          </mat-panel-title>
        </mat-expansion-panel-header>


        <div class="padre-check" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
    
          <div>
    
            <div class="container-Find filtradoContainer">
              <div class="containerInfo">
                <label for="">Buscar Bienes</label>
                <div class="container-Input">
                  <input class="" id="inp-Centro" type="text" autocomplete="off" (input)="changeBien($event)"
                    placeholder="DIGITE NOMBRE DEL BIEN" required>
                </div>
              </div>
            </div>
    
    
            <div class="tabla-check">
              <table class="table table-striped tabla-estilos">
                <thead>
                  <tr class="encabezado">
                    <th class="th-head">
                      <div class="d-flex"> # </div>
                    </th>
                    <th class="th-head">
                      <div class="d-flex">Nombre</div>
                    </th>
                    <th class="th-head">
                      <div class="d-flex">Codigo</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <td>
                    <input id="flexCheckDefaultAll" type="checkbox" (click)="getAllChecks()"
                      [disabled]="!this.srvInforme.datosSearch">
                  </td>
                  <td>
                    Seleccionar todo
                  </td>
    
    
                  <tr *ngFor="let bien of srvInforme.datosSearch; let i = index; let c = index">
    
                    <td>
                      <input class="flexCheck" (click)="getCheckData($event, i)" id="{{i}}" type="checkbox">
    
                    </td>
    
                    <td id="name-check">
                      {{bien.str_bien_nombre}}
                    </td>
                    <td id="dato-check">
                      {{bien.str_codigo_bien}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
    
          </div>
    
    
          <div>
            <!-- <br> -->
            <div class="container-Find filtradoContainer">
              <div class="containerInfo">
                <label for="">Bienes seleccionados</label>
              </div>
            </div>
    
            <div style="height: 250px;overflow: auto;">
              <table class="table table-striped tabla-estilos">
                <thead>
                  <tr class="encabezado">
                    <th class="th-head">
                      <div class="d-flex"> # </div>
                    </th>
                    <th class="th-head">
                      <div class="d-flex">Nombre</div>
                    </th>
                    <th class="th-head">
                      <div class="d-flex">Codigo</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bien of arrNotificar; let i = index; let c = index">
                    <td>
                      <input class="flexCheck" (click)="getCheckData($event, i)" type="checkbox" checked>
                    </td>
                    <td id="name-check">
                      {{bien.name}}
                    </td>
                    <td id="dato-check">
                      {{bien.id}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    
        </div>


      </mat-expansion-panel>
    </mat-accordion>






  </div>




  <div class="containerRes">
    <form [formGroup]="myForm" action="">
      <div class="container-BodyData">
        <div class="container-Left">


          <!-- <div class="containerInfo">
            <label for="">Tipo de Informe</label>
            <div class="search-BarBtn theselect">
              <select formControlName="int_tipo_documento_id" (change)="getF($event)">
                <option [selected]="true" select disabled>Seleccione un tipo de informe</option>
                <option *ngFor="let op of tipoInforme.tipo ; let index = index" id="{{tipoInforme.cod[index]}}">{{op}}
                </option>
              </select>
            </div>
          </div> -->

          <div class="containerInfo">
            <label for="">Titulo Informe</label>
            <div class="container-Input">
              <input type="text" placeholder="TITULO DEL INFORME" formControlName="str_documento_titulo">
            </div>
          </div>

          <div class="containerRes" style="display: grid; grid-template-columns: 1fr 1fr;">
            <div class="profile-Info">
              <div style="display: grid; grid-template-columns: 170px 40px;">
                <div style="display: flex; align-items: center;">
                  <p class="p-Title">NOMBRE DEL/LOS RESPONSABLE:</p>
                </div>
                <div>
                  <button class="btn btn-primary" (click)="avanzar()">
                    <i class="material-icons"> add_circle_outline</i>
                  </button>
                </div>
              </div>
              <div style="display: flex; align-items: baseline;">
                <div>
                  <h4 class="p-Content">
                    <table class="table table-striped tabla-estilos table-respo">
                      <tbody>
                        <tr *ngFor="let us of userResoi; let index = index">
                          <td class="nameUserRespo">
                            {{us}}
                          </td>
                          <td *ngIf="index>0">
                            <button class="btn btn-primary" (click)="deleteUser(index)">
                              <i class="material-icons"> delete</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </h4>
                </div>

              </div>


            </div>



            <div class="container-Find filtradoContainer" *ngIf="aggButton">
              <div class="cont search">

                <div class="containerInfo">
                  <label for="text">Buscar Cédula:</label>
                </div>

                <div class="search-BarBtn">
                  <input id="cedula_user" type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    class="form-control" placeholder="0000000000" />
                  <button type="submit" class="btnSearch" (click)="obtenerDatosCentralizada($event)">
                    <i class="material-icons">search</i>
                  </button>
                </div>

              </div>

              <!-- <div class="containerInfo">
                <label for="">Buscar Usuarios</label>
                <div class="container-Input">
                  <input class="" id="inp-Centro" type="text" autocomplete="off" (input)="changeUsuario($event)"
                    placeholder="DIGITE NOMBRE DEL BIEN" required>
                </div>
                <table class="table table-striped tabla-estilos">
                  <tbody>
                    <tr *ngFor="let op of this.srvInforme.usuarioSearch; let index = index">
                      <td class="nameUserRespo" (click)="datoUser($event, op.int_per_id)" >
                        {{op.str_per_nombres}} {{op.str_per_apellidos}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
            </div>
          </div>



          <div class="containerInfo">
            <label for="">Petición:</label>
            <div class="container-Input">
              <input type="text" placeholder="PETICION DEL INFORME" formControlName="str_documento_peticion">
            </div>
          </div>

          <div class="containerInfo">
            <label for="">Dirigido a:</label>
            <div class="container-Input">
              <input type="text" placeholder="NOMBRE DEL DESTINATARIO" formControlName="str_documento_recibe">
            </div>
          </div>
          <div style="display: grid; justify-content: left; grid-template-columns: 1fr 1fr; justify-items: start; align-items: center;" >

            <div>
              <label>Fecha y lugar de Creacion</label>
              <div class="containerInfo ">
                <input type="date" formControlName="str_documento_fecha">
              </div>
            </div>
            <div class="container-BodyData">
              <div class="container-Left">
                <div class="containerInfo" >
                  <label for="">Ciudad</label>
                  <div [formGroup]="formDate" class="search-BarBtn theselect" style="width: 100% !important;" >
                    <select formControlName="str_ciudad" >
                      <option [selected]="true" select disabled>Seleccione una ciudad</option>
                      <option value="Riobamba">Riobamba</option>
                      <option value="Orellana">Orellana</option>
                      <option value="Morona Santiago">Morona Santiago</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-Left">

          <div class="containerInfo ">
            <label for="">Introcucción de informe</label>
            <br>
            <textarea type="text" placeholder="INTRODUCCIÓN DEL INFORME" rows="7" cols="5000"
              formControlName="str_documento_introduccion">

              </textarea>
          </div>

          <div class="containerInfo ">
            <label for="">Desarrollo de informe</label>
            <br>
            <textarea type="text" placeholder="DESARROLLO DEL INFORME" rows="7" cols="5000"
              formControlName="str_documento_desarrollo">

              </textarea>
          </div>

          <div class="containerInfo ">
            <label for="">Conclusiones de informe</label>
            <br>
            <textarea type="text" placeholder="CONCLUSIONES DEL INFORME" rows="7" cols="5000"
              formControlName="str_documento_conclusiones">

              </textarea>
          </div>

          <div class="containerInfo ">
            <label for="">Recomendaciones de informe</label>
            <br>
            <textarea type="text" placeholder="RECOMENDACIONES DEL INFORME" rows="7" cols="5000"
              formControlName="str_documento_recomendaciones">

              </textarea>
          </div>
        </div>
      </div>
    </form>
  </div>






  <div class="buttons-action" style="display: flex; justify-content: center; gap: 20px;">
    <!-- <div class="container-Btns" *ngIf="paso>=1">
      <button class="btn-primary-add" (click)="regresar()" [disabled]="paso<1"> Regresar</button>
    </div> -->
    <!-- <div class="container-Btns" *ngIf="paso!=2">
      <button class="btn-primary-add" (click)="avanzar()"> Siguiente</button>
    </div> -->
    <div class="container-Btns" *ngIf="this.srvInforme.permisosInforme">
      <button class="btn-primary-add" (click)="send('g')" [disabled]="!myForm.valid "> Guardar y salir</button>
    </div>
    <div class="container-Btns">
      <button class="btn-primary-add" (click)="send('f')" [disabled]="!myForm.valid "> Finalizar</button>
    </div>
  </div>
</div>